<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mikadocs.OEE.DataEntry.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Mikadocs.OEE.DataEntry.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  <applicationSettings>
    <Mikadocs.OEE.DataEntry.Settings>
      <setting name="Machines" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>VK 20 B</string>
            <string>VK 20 C</string>
            <string>VK 40</string>
            <string>VK 50</string>
            <string>VK 125</string>
            <string>VK 200A</string>
            <string>2001</string>
            <string>VK 315</string>
            <string>CNC</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="MaximumLegLength" serializeAs="String">
        <value>09:00:00</value>
      </setting>
    </Mikadocs.OEE.DataEntry.Settings>
  </applicationSettings>
  <userSettings>
    <Mikadocs.OEE.DataEntry.Settings>
      <setting name="ProductionId" serializeAs="String">
        <value />
      </setting>
    </Mikadocs.OEE.DataEntry.Settings>
  </userSettings>
</configuration>